.table-design {
    margin-top: 20px;
}

.table-design h2 {
    margin-bottom: 10px;
}

.table-design table {
    width: 100%;
    border-collapse: collapse;
}

.table-design th, .table-design td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-design th {
    background-color: #f2f2f2;
}

.table-design tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


